# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Editor Directories and Files
.idea/
.vscode/
*.swp
*.swo

# Node modules (if you add npm later)
node_modules/
package-lock.json
yarn.lock
